
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&family=Playfair+Display&display=swap');

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h3, h5 {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-family: 'Libre Baskerville', serif;
}


body {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr .1fr 2fr 1.5fr 0.2fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "about about about"
    "main main main"
    "footer footer footer"
    ;
    margin: 10px;
    background-color: #FBFAEF;
}

header {
    min-height: 100px;
    border: 1px solid black;
    padding: 5px;
    grid-area: header;
}

nav {
    grid-area: nav;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

nav > a {
    margin-right: 15px;
    margin-left: 5px;
}

nav > a:hover {
    text-underline-offset: 3px;
}

#about {
    grid-area: about;
    border: 1px solid black;
    min-height: 300px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "writing editing other"
    ;
    min-height: 450px;
}

.writing {
    grid-area: writing;
    border: 1px solid black;
    padding: 5px;
}

.editing {
    grid-area: editing;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;

}

.other {
    grid-area: other;
    border: 1px solid black;
    padding: 5px;
    margin-right: 10px;

}

footer {
    grid-area: footer;
    border: 1px solid black;
}

@media screen {
    
}
